<!DOCTYPE html>
<html>
    <head>
        <title>Valley Children's Hospital</title>
    </head>
    <body>
        <h1>Enter the Patient ID:</h1>
        <label>Patient ID:</label>
        <input type="text" value="Patient ID">
        <!-- <a href="./report_selection.html">
            <button>SUBMIT</button>
        </a> -->
        <form action={{ url_for('rep_select') }}>
            <button type="submit" class='btn'>SUBMIT</button>
        </form>
        <!-- <input type="submit" value="SUBMIT"> -->

        <a href="./main_landing.html">
            <button>BACK</button>
        </a>
    </body>
</html>