<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
        <!-- <link rel="javascript" type="text/js" href="{{ url_for('static', filename='static.js')}}"/>
        <script src="./static/static.js" language="javascript" type="text/javascript"></script>  -->
        <script> 
            function ShowGraphGif()
            {
                var R = document.getElementById("gif");
                R.style.display = "block";
                var B = document.getElementById("gifButtonH");
                B.style = "block";
                var B = document.getElementById("gifButtonS");
                B.style.display = "none";           
            }
            function HideGraphGif()
            {
                var R = document.getElementById("gif");
                R.style.display = "none";
                var B = document.getElementById("gifButtonH");
                B.style.display = "none";
                var B = document.getElementById("gifButtonS");
                B.style = "block";           
            }
        </script>
    </head>

    <body>
        <div class="nav">
            <form method="GET"> 
               <a href={{url_for('start')}}>Home</a>
               <!-- <a href={{url_for('Logout')}}>Logout</a> -->
            </form> 
        </div>

        <!-- Show the patients name where > "Patient Name?" < is written ? -->
        <h2>Single Exam Report for: {{ pat[0][1] }} {{ pat[0][2] }}</h2> 
        <!-- We probably won't need test type, just added from following figma example -->
        <!-- <label>Exam Report for Patient:</label> 
        <input type="text" id="pat_id" value="{{ pat[0][1] }} {{ pat[0][2] }}" readonly> -->
       
        <table>
            <tr>
                <th>Angle Flexion</th>
                <th>Maximum Velocity</th>
                <th>Strength</th>
            </tr>
            <tr>
                <td>
                    <b>Minimum Angle of Flexion:</b> <br>
                    <input type="text" id="max-angle" value={{ exam[0][3] }} style="text-align: center;" readonly />
                    <br><br>
                    <i>(i) To view the patients arm path, click on the button below.</i> <br><br>
                    <!-- graph doesn't need to show by pressing a button, we can make it show automatically -->
                    <button type="button" id="gifButtonS" onClick="ShowGraphGif()">Show Graph of Arm Movement</button>
                    <button type="button" id="gifButtonH" onClick="HideGraphGif()" style="display:none;">Hide Graph of Arm Movement</button>

                    <br><br>

                    
                    <div id="gif" style="display:none;">
                        <img src="/static/AngleAnim.gif" alt="Angle Animation" style="width:350px; height:300px;">
                    </div>
                    <br><br>
                </td>
                <td>
                    <b>Maximum Velocity </b> from Angle Flexion: <br>
                    <input type="text" id="max-velocity" value={{ exam[0][4] }} style="text-align: center;" readonly />
                    <br><br>
                    <i>(i) This is the maximum angle achieved from flexing elbow from 
                        the starting angle of 180 degrees. </i>
                    <br><br>
                </td>
                <td>
                    <b>Strength Classification:</b> <br>
                    <input type="text" id="strength-class" value={{ exam[0][5] }} style="text-align: center;" readonly />
                    <br><br>
                    <i>(i) This is the strength classification based on patients results.</i>
                    <br><br>
                </td>
            </tr>
            
        </table>            
        
    </div>


        


        <footer>
            <p>@ Valley Children's Hospital (Team V-ARM) 2022 </p>
            <!-- <p><a href="mailto:hege@example.com">hege@example.com</a></p> -->
        </footer> 
    </body>
</html>
