<!DOCTYPE html>
<html>
    <head>
        <title> Valley Children's Hospital</title>
    </head>
    <body>
        <h1>Exam Selection Page</h1>
        <!-- <div style="height:100px;overflow:auto;"> -->
            <label>Patient Exams:</label>
            <div class="btn-group" style="height:100px;overflow:auto;">
            
                <input type="radio">Exam 1</input><br>
                <input type="radio">Exam 2</input><br>
                <input type="radio">Exam 3</input><br>
                <input type="radio">Exam 4</input><br>
                <input type="radio">Exam 5</input><br>
                <input type="radio">Exam 6</input><br>

                 <!-- <ul>
                    {% for exam in Exams %}
                    <li> {{ exam }}</li>
                    {% endfor %}
                </ul> -->


            </div> 
           
           <!-- </div> -->
           <a href="./report_selection.html">
            <button>BACK</button>
        </a>
           
    </body>
</html>